<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhentao.SpringAndMybatisConsole.dao.FilmMapper">
    <insert id="insertFilm" parameterType="pers.zhentao.SpringAndMybatisConsole.pojo.Film">
        insert into film(
        title,
        <if test="description != null">
            description,
        </if>
        language_id
        ) values(
        #{title,jdbcType=VARCHAR},
        <if test="description != null">
            #{description,jdbcType=VARCHAR},
        </if>
        #{languageId,jdbcType=INTEGER}
        )
    </insert>
    <select id="countByLanguageId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from language
        where language_id=#{id,jdbcType=INTEGER}
    </select>
</mapper>